<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Discover Places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed *ngIf="places$ | async as places">
    <ion-row
      class="ion-justify-content-center"
      *ngIf="places[0] as featuredPlace"
    >
      <ion-col class="ion-text-center" size="12" sizeSm="6">
        <ion-card [routerLink]="['/', 'places', 'discover', featuredPlace.id]">
          <ion-img alt="" [src]="featuredPlace.imageUrl" />
          <ion-card-header>
            <ion-card-title>{{ featuredPlace.title }}</ion-card-title>
            <ion-card-subtitle
              >{{ featuredPlace.price | currency }} / Night</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content>
            <ion-text color="danger">
              {{ featuredPlace.description }}
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ng-container *ngIf="places | slice : 1 as otherPlaces">
      <ion-row *ngIf="otherPlaces.length" class="ion-justify-content-center">
        <ion-col size="12" sizeSm="6">
          <ion-list class="ion-margin-horizontal">
            <ion-item
              detail
              detail-icon="chevron-forward-outline"
              [routerLink]="['/', 'places', 'discover', place.id]"
              class="ion-no-padding"
              *ngFor="let place of otherPlaces"
            >
              <ion-thumbnail slot="start">
                <ion-img [src]="place.imageUrl" />
              </ion-thumbnail>
              <ion-label>
                <h2>{{ place.title }}</h2>
                <p>{{ place.description }}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
</ion-content>
