<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Authenticate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6">
        <ion-input
          fill="solid"
          labelPlacement="floating"
          label="Username"
        ></ion-input>
        <ion-button
          class="ion-padding-vertical"
          expand="block"
          color="primary"
          (click)="onLogin()"
          >Login</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
